 {{#each movies}}
  <div class="card" style="width: 18rem;">
     <img src={{image}} class="card-img-top" alt={{title}}>
     <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{desc}}</p>
          <p class="card-text">{{rating}}</p>
          <p class="card-text">{{year}}</p>
          <p class="card-text">{{duration}}</p>
     </div>
   </div>
{{/each}}
 