   <div class="row">
 {{#each movies}}
  <div class="card m-5 col-sm-3" style="width: 18rem">
     <img src={{image}} class="card-img-top" alt={{title}}>
     <div class="card-body" style="background-color: rgba(236, 232, 232, 0.418); color : rgb(116, 70, 70)">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">Desc: {{desc}}</p>
          <p class="card-text">Rating: {{rating}}</p>
          <p class="card-text"> Year: {{year}}</p>
          <p class="card-text">Duration: {{duration}}</p>
     </div>
   </div>
   
{{/each}}
</div>

<div class="comment col-sm-5">
  <form>  
   <div class="form-group">
    <label for="name"></label>
    <input class="form-control" id="Your Name" placeholder="Your name here">
  </div>

  <div class="form-group">
    <label for="comment"></label>
    <textarea class="form-control" id="comment" rows="3" placeholder="Comment here"></textarea>
  </div>

  <input type="submit" class="submit btn btn-primary >
</form>
</div>
 